<p><%= flash[:error] %></p>

<%= form_for @user, url: users_create_path(@user), html: { method: :post } do |f| %>
<div>
	<%= f.text_field :email, :placeholder => "Email", :type => 'email', :required => true %>
</div>
<div>
	<%= f.text_field :username, :placeholder => "Username", :required => true %>
</div>
<div>
	<%= f.password_field :password, :placeholder => "Password", :required => true %>
</div>
<div>
	<%= f.hidden_field :latitude, :placeholder => "Latitude", :class => 'latitude', :value => params[:latitude] %>
</div>
<div>
	<%= f.hidden_field :longitude, :placeholder => "Longitude", :class => 'longitude', :value => params[:logitude] %>
</div>
<div>
	<%= f.submit "Sign Up" %>
</div>
<% end %>